{% extends 'volunteer/common/layout.html'%}
{% block content %}

     <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    
                    <div class="card">
                        <div class="card-header">
                            <h3>My Accepted Donation</h3>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>DonationID</th>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>View Details</th>
                                            <th>Recieved</th> 
                                            <th>Delivered</th>      
                                        </tr>
                                    </thead>
                                    {% for row in result %}
                                    <tbody>
                                        <tr>
                                            <td>{{row.id}}</td>
                                            <td>{{row.donation.id}}</td>
                                            <td>{{row.donation.title}}</td>
                                            <td>{{row.donation.decoration}}</td>
                                            <td><a href="/volunteer/viewdetailaccepteddonation/{{row.donation.id}}" style="font-size:17px;">View Details</a></td>
                                            <td><a href="/volunteer/recieved/{{row.id}}" style="font-size:17px;">Recieved</a></td>
                                            <td><a href="/volunteer/delivered/{{row.id}}" style="font-size:17px;">Delivered</a></td>
                                            <!-- /volunteer/viewdetailaccepteddonation/{{row.id}} -->
                                        </tr>
                                        
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->


{% endblock%}

