{% extends 'myadmin/common/layout.html'%}
{% block content %}

     <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    
                    <div class="card">
                        <div class="card-header">
                            <h3>Events</h3>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <!-- class="table table-hover" -->
                                <form method="POST" action="/myadmin/acceptreject/{{result.id}}">
                                    {% csrf_token %}
                                <table   class="table table-hover">
                                     <!-- <tr>
                                        <td>ID</td>
                                        <td>{{result.id}}</td>
                                    </tr> -->
                                    <tr>
                                        <td>User ID</td>
                                        <td>{{result.user_id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Title</td>
                                        <td>{{result.title}}</td>
                                    </tr>
                                     <tr>
                                        <td>Description</td>
                                        <td>{{result.description}}</td>
                                    </tr>
                                     <tr>
                                        <td>Date</td>
                                        <td>{{result.date}}</td>
                                    </tr>
                                     <tr>
                                        <td>State</td>
                                        <td>{{result.state.state_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>City</td>
                                        <td>{{result.city.city_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Area</td>
                                        <td>{{result.area.area_name}}</td>
                                    </tr>
                                     <tr>
                                        <td>Event Type</td>
                                        <td>{{result.eventtype}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center"><input type="submit" value="Accept/Reject" class="btn btn-primary btn-lg" ></td>
                                    </tr>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->

        <div id="styleSelector">

        </div>
    </div>

{% endblock%}

