{% extends 'myadmin/common/layout.html'%}
{% block content %}

     <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <!-- Basic table card start -->
                    
                    <div class="card">
                        <div class="card-header">
                            <h3>Volunteer</h3>
                            <!-- <span>use class <code>table-hover</code> inside table element</span> -->
                            
                        </div>
                        <div class="card-block table-border-style">
                            <div class="table-responsive">
                                <!-- class="table table-hover" -->
                                <form method="POST" action="">
                                    {% csrf_token %}
                                <table   class="table table-hover">
                                     <tr>
                                        <td>Volunteer ID</td>
                                        <td>{{result.volunteer.id}}</td>
                                    </tr>
                                    <tr>
                                        <td>Name</td>
                                        <td>{{result.volunteer.first_name}} {{result.volunteer.last_name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td>{{result.volunteer.email}}</td>
                                    </tr>
                                     <tr>
                                        <td>Contact</td>
                                        <td>{{result.volunteer.register.contact}}</td>
                                    </tr>
                                     <tr>
                                        <td>Gender</td>
                                        <td>{{result.volunteer.register.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td>Approved Datetime</td>
                                        <td>{{result.approved_datetime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Approved Remark</td>
                                        <td>{{result.approved_remarks}}</td>
                                    </tr>
                                    <tr>
                                        <td>Recieved Datetime</td>
                                        <td>{{result.received_datetime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Recieved Remark</td>
                                        <td>{{result.received_remarks}}</td>
                                    </tr>
                                    <tr>
                                        <td>Delivered Datetime</td>
                                        <td>{{result.delivered_datetime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Delivered Remark</td>
                                        <td>{{result.delivered_remarks}}</td>
                                    </tr>
                                </table>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Page-body end -->
            </div>
        </div>
        <!-- Main-body end -->

        <div id="styleSelector">

        </div>
    </div>

{% endblock%}

